# Build outputs
build/bin
frontend/dist
dist-electron/

# Go binaries
edgeview-backend
!cmd/edgeview-backend/
edgeview-backend.exe
edgeview-backend-test
edgeview-launcher-backend
edgeViewLauncher
edgeview-launcher

# EVE reference implementations
eve/

# Dependencies
node_modules

# Example client implementation (not part of this module)
# edgeview-client/

# System files
.DS_Store
*.log

# Build info (generated)
build-info.json

# Notes
Launcher_Notes.txt

# Swagger definitions
zedge_app_service.swagger.json
zedge_node_service.swagger.json
